*{
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    color: #f5efef;
    text-shadow: 3px 3px #0f0f0f;
    background: linear-gradient(90deg, rgb(76, 52, 184) 0%, rgb(13, 201, 235) 75%)
}
main{
    background-color: #f5efef;
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    background-color: #f5efef;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    border: 2px solid black;
    border-radius: 20px;
    height: 80%;
    width: 60vw !important;
    align-items: center;
    padding: 0 !important;
}
#containerHeader{
    border-radius: 18px 18px 0 0;
}
#containerFooter{
    border-radius: 0 0 18px 18px;
}
#containerHeader,#containerFooter{
    background-color: #a19b9b;
    padding: 2%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#mainContent{
    display: grid;
    align-items: center;
    height: 100%;
    border-top: 2px solid #0f0f0f;
    border-bottom: 2px solid #0f0f0f;
}
table{
    margin: 0 !important;
}
th,td{
    text-align: center;
    vertical-align: middle;
    font-size: 3vh;
    border: 1px solid #0f0f0f !important;
}
footer {
    display: flex;
    justify-content: center;
    padding: 1% 1% 1% 1%;
    background: linear-gradient(90deg, rgb(76, 52, 184) 0%, rgb(13, 201, 235) 75%)
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}
input{
    text-align: center;
    border: 2px solid #0f0f0f;
    text-shadow: 1px 1px #2c2b2b;
}
input,.btn{
    width: 40%;
    height: 100%;
    border-radius: 30px !important;
    font-size: 4vh !important;
    border: solid 2px #0f0f0f !important;
}
@media screen and (max-width: 500px) {
    header{
        padding: 0 1% 0 1%;
    }
    header h1{
        font-size: 6vh !important;
    }
    .container{
        grid-template-rows: 1fr 5fr 1fr !important;
    }
    #containerHeader h1{
        font-size: 2.5vh;
    }
    #containerHeader,#containerFooter{
        width: 100%;
    }
    img{
        width: 15%;
    }
    h2,h3,h4 {
        font-size: 2.3vh !important;
        margin-bottom:0 !important;
    }
    footer{
        padding: 3%
    }
    input{
        font-size:2vh !important;
    }
    th,td{
        font-size: 1.6vh;
    }
}